<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- font imports -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div class="page-container">
        <h1 class="adopet">Adopet</h1>
        <h3 class="subtitle1">Meet the Perfect Pet</h3>
        <div class="subtitle2">from more than 17,000 animal shelters & rescues</div>
        

        <div class="page-left">
            <div class="go-back-button" href=""> <     Back to Results</div>
            <div class="intro-pic">
                <h1 class="introduction"> My name is Blitzen! </h1>
                <img class="pet-pic-detail" src="Blitzen.jpg">
            </div>
        </div>

        <div class="facts-story">
            <div class="facts-about-me">
                <div class="section-title">Facts About Me</div>
                <div class="facts-about-me-content">
                    <span class="attribute-name left-section">Breed</span>
                    <span class='attribute'>Pit Bull Terrier Mix</span>
                    <span class="attribute-name right-section">Weight</span>
                    <span class='attribute'>20 Pounds</span>
                    
                    <span class="attribute-name left-section">Color</span>
                    <span class='attribute'>Tan/Yellow/Fawn</span>
                    <span class="attribute-name right-section">Age</span>
                    <span class='attribute'>5 yrs old</span>
                    
                    <span class="attribute-name left-section">Sex</span>
                    <span class='attribute'>Male</span>
                </div>
            </div>
            <div class="my-story">
                <div class="section-title">My Story</div>
                <p class="story-content">Blitzen will make your heart soar! This bouncy boy is looking for a family to help him learn to be the best boy he can be. He will need to visit the dentist after he is adopted and our staff will be happy to discuss this with you. Even though the Christmas season is over, Blitzen could be the pup for you. Apply to meet him today! All meet and greets are by appointment only. Thank you for your interest in our adoptable animals! Due to the COVID-19 pandemic, we do require appointments to see our adoptable animals. Please complete the adoption application and a Customer Care Associate will be in contact with you. PLEASE NOTE: We ask that when you submit your application, that you are available to schedule an appointment within the next 24-48 hours.</p>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>