@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

::placeholder { 
  color: white;
  opacity: 1; 
}

.link{
  text-decoration: none;
}
.page-container{
    /* margin-left:5%; */
    margin-right: 5%;
    max-width: 1400px;
}


.adopet{
    margin-left:5%;
    font-family: 'Potta One', cursive;
    color: #1abc9c;
    font-size:50px;

}

.subtitle1{
    margin-left:5%;
    font-family: 'Potta One', cursive;
    text-indent:20px;
    font-size: 23px;
}

.subtitle2{
    margin-left:5%;
    font-family: 'Potta One', cursive;
    text-indent:20px;
}



body,
input,
textarea {
  font-family: "Poppins", sans-serif;
}





.banner{
    background:url("RescueMe.jpg");
    background-repeat: no-repeat;
    background-size:65% auto;
    height:86.5vh;
    border-radius: 20px;
}


  .search-form {
    border-radius: 15px;
    /* background-color:rgba(255,255,255,0); */
    background-color: #1abc9c;
    /* position: relative; */
    float:right;
    margin-top: 10%;
    width: 35%;
    max-width: 400px;
    height:50vh;

  }

  .form-header{
      color:white;
      text-align: center;
      margin-top:30px;

  }



  .formError{
    color:#E3242B;
    margin-top:0.3em;
    text-align: center;
  }

  form {
    z-index: 10;
  }
  
  .title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    margin-left:5%;
    margin-right:5%;
    width:90%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 10px;
    transition: 0.3s;
  }
  

  
  
 
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width:90%;
    margin-left:5%;
    margin-right:5%;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  
  
  .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
  }
  

/* LisView Page */
.modify-msg{
    color:#474747;
    font-size:20px;
    font-weight:700;
    margin:0.5em;
    margin-top:1em;
}

.sub-modify-msg{
    color:#474747;
    font-size:13px;
    font-weight:700;
    margin:1em;
}
.modify-search{
    float:left;
    width:180px;
    margin-left:5%;
    margin-right:2%;
    height:12em;
    background-color:rgb(220,220,220,0.7);
    text-align: left;
    border-radius: 10px;
}
.modify-search-button{
    padding: 0.6rem 1.3rem;
    background-color: #1abc9c;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #fff;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    float:right;
    margin-left:5%;
    margin-right:5%;
}
.modify-search-button:hover{
    background-color: transparent;
    color: #1abc9c;
}
.result-title{
    margin-top:50px;
    margin-bottom: 20px;
    color:#474747;
    margin-left:10%;
}



.result-container{
    margin-left:5%;
    margin-right:5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-template-rows: repeat(3, 340px);
    grid-row-gap: 15px;
    grid-column-gap: 15px;

}

.pet-result{
    border-radius: 10px;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
}

.pet-pic{
    border-radius: 10px;
    margin:5px;
    width:250px;
    height: 260px;
}

.pet-name, .pet-sex-age, .pet-location{
    text-indent: 5px;
}
.pet-name{
    font-size:20px;
    font-family: 'Redressed', cursive;
    text-decoration: none;
    color:black;
}
.pet-name:hover{
  color:rgb(93,93,93);
}
.pet-sex-age, .pet-location{
    font-size:15px;
    font-family: 'Libre Franklin', sans-serif;
}
.page-left{
  margin-left:5%;
  float:left;
  width: 40%;
  max-width: 450px;
  margin-top:3%;
}

.intro-pic{
  margin-top:15%;
}
.go-back-button{
  margin-left:2%;
  color:#1abc9c;
  font-size:1em;
}

.go-back-button:hover{
  cursor: pointer;
  text-decoration: underline;
}



.introduction{
  font-family: 'Potta One', cursive;
  font-size:2em;
  margin-top:7%;
}

.pet-pic-detail{
  border-radius: 10px;
  width:25em;
  margin-top:2%;
  box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
}

.facts-story{
  float:right;
  margin-left:1%;
  width:50%;
}
.section-title{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Potta One', cursive;
  font-size:1.9em;
  margin-left: 2%;
}
.facts-about-me{
  margin-top:3em;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
}
.facts-about-me-content{
  margin-top:0.5em;
  display: grid;
  grid-template-columns: 15% 35% 20% 30%;
  grid-template-rows: 3em 3em 3em;
  margin-left:5%;
}
.attribute-name{
  line-height: 2em;
  font-family: 'Roboto', sans-serif;
  font-size:1.5em;

}



.attribute{
  margin-top:0.5em;
  vertical-align: middle;
}
.my-story{
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
  margin-top:1em;
}

.attribute, .story-content{
  font-family: 'Architects Daughter', cursive;
  font-size:1.2em;
}

.story-content{
  margin-top: 1em;
  text-indent: 2em;
  margin-left: 2%;
  margin-right:2%;
  display: inline-block;
}

.show-more{
  display: inline;
}

  @media(max-width:1000px){
    .page-left{
      margin-left:5%;
      width: 90%;
      margin-top:3%;
    }
    
    .intro-pic{
      margin-top:5%;
    }
      
    .introduction{
      margin-left:5%;
      font-family: 'Potta One', cursive;
      font-size:1.5em;
      margin-top:7%;
    }
    
    .pet-pic-detail{
      border-radius: 10px;
      width:90%;
      margin-left:5%;
      margin-top:2%;
      box-shadow: 0 2px 5px 0px rgba(0,0,0,0.5);
    }
    
    .facts-story{
      float:left;
      margin-left:10%;
      width:90%
    }
    .facts-about-me-content{
      margin-top:0.5em;
      display: grid;
      grid-template-columns: 15% 35% 15% 35%;
      grid-template-rows: 3em 3em 3em;
      margin-left:5%;
    }
    
  
  }

  @media(max-width:750px){
    .facts-about-me-content{
      margin-top:0.5em;
      display: grid;
      grid-template-columns: 6em 15em;
      grid-template-rows: 3em 3em 3em 3em 3em 3em;
      margin-left:5%;
    }
  }

  
  @media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
  
    .search-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  

  }
  
  @media (max-width: 600px) {
    .container {
      padding: 1.5rem;
    }
  
    .subtitle1{
      margin-left:5%;
      font-family: 'Potta One', cursive;
      text-indent:20px;
      font-size: 18px;
    }
  
    .subtitle2{
        margin-left:5%;
        font-family: 'Potta One', cursive;
        text-indent:20px;
        font-size:10px;
    }

    .search-form{
      width:90%;
      position: absolute;
      margin-left: 5%;
      margin-right: 5%;
      height:45vh
    }

    .search-form::after{
      background-image: url("RescueMe.jpg");
      background-repeat: no-repeat;
      background-size:100% auto;
      display: inline-block;
      width: 95%; 
      height: 380px;
      margin-top:20%;
      margin-right:5%;
      content:"";
    }

    .banner{
      background:none;
    }

    .result-title{
      margin-top:30px;
      margin-bottom: 20px;
      color:#474747;
      margin-left:10%;
      font-size:1em;
  }
  .search-page-content{
    display: grid;
    flex-direction: column;
  }
    .modify-search{
      align-self: flex-end;
      width:90%;
      margin-left:5%;
      height:8em;
      text-align: center;
  }

  .modify-search-button{
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}

  .result-container{
    margin-top:20px;
    margin-left:5%;
    margin-right:5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    grid-template-rows: repeat(3, 340px);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    justify-content: center;
    align-content: center;
}


  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }

  
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn {
      padding: 0.45rem 1.2rem;
    }

  }


