<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- font imports -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="index.css">
    
</head>
<body>
    <div class="page-container">
        <h1 class="adopet">Adopet</h1>
        <h3 class="subtitle1">Meet the Perfect Pet</h3>
        <div class="subtitle2">from more than 17,000 animal shelters & rescues</div>
        <h2 class="result-title">We Found 378 Dogs Near Your Location</h2>
        <div class="modify-search">
            <div class="modify-msg">Didn't find your perfect one?</div>
            <p class="sub-modify-msg">Don't worry and modify your search here!</p>
            <button class="modify-search-button">Modify Your Search</button>
        </div>
        <div class="result-container">
            <div class="pet-result">
                <img class="pet-pic" src="Blitzen.jpg">
                <h3 class="pet-name">Blitzen</h3>
                <div class="pet-sex-age">Male,Adult</div>
                <div class="pet-location">Pittsburgh, PA</div>
            </div>
            <div class="pet-result">
                <img class="pet-pic" src="Blitzen.jpg">
                <h3 class="pet-name">Blitzen</h3>
                <div class="pet-sex-age">Male,Adult</div>
                <div class="pet-location">Pittsburgh, PA</div>
            </div>
            <div class="pet-result">
                <img class="pet-pic" src="Blitzen.jpg">
                <h3 class="pet-name">Blitzen</h3>
                <div class="pet-sex-age">Male,Adult</div>
                <div class="pet-location">Pittsburgh, PA</div>
            </div>
            <div class="pet-result">
                <img class="pet-pic" src="Blitzen.jpg">
                <h3 class="pet-name">Blitzen</h3>
                <div class="pet-sex-age">Male,Adult</div>
                <div class="pet-location">Pittsburgh, PA</div>
            </div>
            <div class="pet-result">
                <img class="pet-pic" src="Blitzen.jpg">
                <h3 class="pet-name">Blitzen</h3>
                <div class="pet-sex-age">Male,Adult</div>
                <div class="pet-location">Pittsburgh, PA</div>
            </div>
            <div class="pet-result">
                <img class="pet-pic" src="Blitzen.jpg">
                <h3 class="pet-name">Blitzen</h3>
                <div class="pet-sex-age">Male,Adult</div>
                <div class="pet-location">Pittsburgh, PA</div>
            </div>
        </div>
    </div>
</body>
</html>